<div id="<%= dom_id building %>">
  <p>
    <strong>Building name:</strong>
    <%= building.building_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= building.comment %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

</div>
