<div id="<%= dom_id room %>">
  <p>
    <strong>Room name:</strong>
    <%= room.room_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= room.comment %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= room.building_id %>
  </p>

</div>
